.btn-outline{
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid #000;
    color:#000;
    display:flex;
    column-gap:10px;
    align-items:center;
    background-color: #fff;

}

.btn-outline:hover{
    opacity: 0.7;
}

.btn-outline:active{
    position: relative;
    top: 1px;
}